@if (authenticatedUser) {
  @if (authenticatedUser.profile !== 3) {
    <!-- TITLE -->
    <div class="list-title">
      <mat-label>{{ hubsListTitle }}</mat-label>
    </div>

    <table mat-table [dataSource]="hubsList">
      <!-- IATA COLUMN -->
      <ng-container [matColumnDef]="columnsIdentifiers[0]">
        <th mat-header-cell *matHeaderCellDef>{{ columnsHeaders[0] }}</th>
        <td mat-cell *matCellDef="let hub">{{ hub.iata }}</td>
      </ng-container>

      <!-- NAME COLUMN -->
      <ng-container [matColumnDef]="columnsIdentifiers[1]">
        <th mat-header-cell *matHeaderCellDef>{{ columnsHeaders[1] }}</th>
        <td mat-cell *matCellDef="let hub">{{ hub.name }}</td>
      </ng-container>

      <!-- COUNTRY COLUMN -->
      <ng-container [matColumnDef]="columnsIdentifiers[2]">
        <th mat-header-cell *matHeaderCellDef>{{ columnsHeaders[2] }}</th>
        <td mat-cell *matCellDef="let hub">
          <span class="flag fi fi-{{ hub.country.flagCode }}"></span>
          {{ hub.country.name }}
        </td>
      </ng-container>

      <!-- CITY COLUMN -->
      <ng-container [matColumnDef]="columnsIdentifiers[3]">
        <th mat-header-cell *matHeaderCellDef>{{ columnsHeaders[3] }}</th>
        <td mat-cell *matCellDef="let hub">
          {{ hub.city }}
        </td>
      </ng-container>

      <!-- REGION COLUMN -->
      <ng-container [matColumnDef]="columnsIdentifiers[4]">
        <th mat-header-cell *matHeaderCellDef>{{ columnsHeaders[4] }}</th>
        <td mat-cell *matCellDef="let hub">
          @if (hub.region) {
            {{ hub.region.name }} ({{ hub.region.code }})
          } @else {
            -
          }
        </td>
      </ng-container>

      <!-- ACTIONS BUTTONS -->
      <ng-container [matColumnDef]="columnsIdentifiers[5]">
        <th id="actions" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let hub">
          <button mat-icon-button (click)="openHubForm(hub)">
            <i class="material-icons">edit</i>
          </button>
          <button mat-icon-button (click)="deleteHub(hub)">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsIdentifiers"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsIdentifiers"></tr>
    </table>

    <!-- PAGINATOR -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons />
  } @else {
    <!-- FORBIDDEN ERROR PAGE -->
    <forbidden></forbidden>
  }
} @else {
  <!-- UNAUTHORIZED ERROR PAGE -->
  <unauthorized></unauthorized>
}
