@if (authenticatedUser) {
  <!-- TITLE -->
  <div class="list-title">
    <mat-label>{{ airportsListTitle }}</mat-label>
  </div>

  <table mat-table [dataSource]="airportsList">
    <!-- IATA COLUMN -->
    <ng-container [matColumnDef]="columnsIdentifiers[0]">
      <th mat-header-cell *matHeaderCellDef>{{ columnsHeaders[0] }}</th>
      <td mat-cell *matCellDef="let airport">{{ airport.iata }}</td>
    </ng-container>

    <!-- NAME COLUMN -->
    <ng-container [matColumnDef]="columnsIdentifiers[1]">
      <th mat-header-cell *matHeaderCellDef>{{ columnsHeaders[1] }}</th>
      <td mat-cell *matCellDef="let airport">{{ airport.name }}</td>
    </ng-container>

    <!-- COUNTRY COLUMN -->
    <ng-container [matColumnDef]="columnsIdentifiers[2]">
      <th mat-header-cell *matHeaderCellDef>{{ columnsHeaders[2] }}</th>
      <td mat-cell *matCellDef="let airport">
        <span class="flag fi fi-{{ airport.country.flagCode }}"></span>
        {{ airport.country.name }}
      </td>
    </ng-container>

    <!-- CITY COLUMN -->
    <ng-container [matColumnDef]="columnsIdentifiers[3]">
      <th mat-header-cell *matHeaderCellDef>{{ columnsHeaders[3] }}</th>
      <td mat-cell *matCellDef="let airport">
        {{ airport.city }}
      </td>
    </ng-container>

    <!-- REGION COLUMN -->
    <ng-container [matColumnDef]="columnsIdentifiers[4]">
      <th
        mat-header-cell
        class="column-region"
        [class.mat-column-region]="authenticatedUser.profile < 3"
        *matHeaderCellDef
      >
        {{ columnsHeaders[4] }}
      </th>
      <td
        mat-cell
        class="column-region"
        [class.mat-column-region]="authenticatedUser.profile < 3"
        *matCellDef="let airport"
      >
        @if (airport.region) {
          {{ airport.region.name }} ({{ airport.region.code }})
        } @else {
          -
        }
      </td>
    </ng-container>
    
    @if (authenticatedUser.profile < 3) {
      <!-- ACTIONS BUTTONS -->
      <ng-container [matColumnDef]="columnsIdentifiers[5]">
        <th id="actions" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let airport">
          <button mat-icon-button (click)="openAirportForm(airport)">
            <i class="material-icons">edit</i>
          </button>
          <button mat-icon-button (click)="deleteAirport(airport)">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="columnsIdentifiers"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsIdentifiers"></tr>
  </table>

  <!-- PAGINATOR -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons />
} @else {
  <!-- UNAUTHORIZED ERROR PAGE -->
  <unauthorized></unauthorized>
}
