<app-dialog [dialogTitle]="aboutDialogTitle" [dialogMode]="aboutDialogMode">
  <!-- APP VERSION NUMBER AND RELEASE DATE -->
  <p>
    <span id="app-version">
      {{ packageJson.productName }} v{{ packageJson.version }}
    </span>
    (#{{ packageJson.releaseNumber }}), {{ releaseDate }}
  </p>
  <!-- DEPENDENCIES -->
  <span class="dependencies-group-title">{{ serverAndDatabaseLabel }} :</span>
  <p class="dependencies-group">
    <img
      src="https://img.shields.io/badge/Vercel v53.3.1-000000?logo=vercel&logoColor=FFFFFF"
      alt="Vercel"
    />
    <img
      class="last-img"
      src="https://img.shields.io/badge/Supabase--JS v2.105.4-008000?logo=supabase&logoColor=FFFFFF"
      alt="Supabase-JS"
    />
  </p>
  <span class="dependencies-group-title">
    {{ frameworkAndLanguageLabel }} :
  </span>
  <p class="dependencies-group">
    <img
      src="https://img.shields.io/badge/Angular v21.2.12-purple?logo=angular&logoColor=FFFFFF"
      alt="Angular"
    />
    <img
      class="last-img"
      src="https://img.shields.io/badge/TypeScript v6.0.3-3C91B0?logo=typescript&logoColor=FFFFFF"
      alt="TypeScript"
    />
  </p>
  <span class="dependencies-group-title">{{ chartsAndMapsLabel }} :</span>
  <p class="dependencies-group">
    <img
      src="https://img.shields.io/badge/Chart.js v4.5.1-orange?logo=chart.js&logoColor=FFFFFF"
      alt="Chart.js"
    />
    <img
      class="last-img"
      src="https://img.shields.io/badge/OpenLayers v10.9.0-cyan?logo=openlayers&logoColor=000000"
      alt="OpenLayers"
    />
  </p>
  <span class="dependencies-group-title">
    {{ flagsAndNotificationsLabel }} :
  </span>
  <p class="dependencies-group">
    <img
      src="https://img.shields.io/badge/Flag Icons v7.5.0-yellow.svg"
      alt="Flag Icons"
    />
    <img
      class="last-img"
      src="https://img.shields.io/badge/NGx Toastr v20.0.5-FF69B4.svg"
      alt="NGx Toastr"
    />
  </p>
  <span class="dependencies-group-title">{{ securityLabel }} :</span>
  <p class="dependencies-group">
    <img src="https://img.shields.io/badge/UUID v14.0.0-grey.svg" alt="UUID" />
    <img
      src="https://img.shields.io/badge/Bcrypt--TS v8.0.1-9F5540.svg"
      alt="Bcrypt-TS"
    />
    <img
      class="last-img"
      src="https://img.shields.io/badge/Base64--TS v2.0.1-greenlight.svg"
      alt="Base64-TS"
    />
  </p>
  <!-- AUTHOR COPYRIGHT -->
  <p id="author">© 2026 {{ packageJson.author }}</p>
</app-dialog>
