/* Columns */
.mat-column-departure-hub,
.column-arrival-airport,
.mat-column-actions {
  text-align: center;
  padding: 3px;
}
.mat-column-departure-hub,
.mat-column-arrival-airport {
  border-right: 2px solid var(--app-red);
}

/* IATA code (in cell value) */
.iata {
  font-weight: bold;
}
