@if (authenticatedUser) {
  <!-- TITLE -->
  <div class="list-title">
    <mat-label>{{ routesListTitle }}</mat-label>
  </div>

  <table mat-table [dataSource]="routesList">
    <!-- DEPARTURE HUB COLUMN -->
    <ng-container [matColumnDef]="columnsIdentifiers[0]">
      <th mat-header-cell *matHeaderCellDef>{{ columnsHeaders[0] }}</th>
      <td mat-cell *matCellDef="let route">
        <span class="flag fi fi-{{ route.departureHub.country.flagCode }}"></span>
        <span class="iata">{{ route.departureHub.iata }}</span> {{ route.departureHub.name }} {{route.departureHub.region ? `(${route.departureHub.region.code})` : ''}}
      </td>
    </ng-container>

    <!-- ARRIVAL AIRPORT COLUMN -->
    <ng-container [matColumnDef]="columnsIdentifiers[1]">
      <th
        mat-header-cell
        class="column-arrival-airport"
        [class.mat-column-arrival-airport]="authenticatedUser.profile < 3"
        *matHeaderCellDef
      >
        {{ columnsHeaders[1] }}
      </th>
      <td
        mat-cell
        class="column-arrival-airport"
        [class.mat-column-arrival-airport]="authenticatedUser.profile < 3"
        *matCellDef="let route"
      >
        <span class="flag fi fi-{{ route.arrivalAirport.country.flagCode }}"></span>
        <span class="iata">{{ route.arrivalAirport.iata }}</span> {{ route.arrivalAirport.name }} {{route.arrivalAirport.region ? `(${route.arrivalAirport.region.code})` : ''}}
      </td>
    </ng-container>

    @if (authenticatedUser.profile < 3) {
      <!-- ACTIONS BUTTONS -->
      <ng-container [matColumnDef]="columnsIdentifiers[2]">
        <th id="actions" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let route">
          <button mat-icon-button (click)="openRouteForm(route)">
            <i class="material-icons">edit</i>
          </button>
          <button mat-icon-button (click)="deleteRoute(route)">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="columnsIdentifiers"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsIdentifiers"></tr>
  </table>

  <!-- PAGINATOR -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons />
} @else {
  <!-- UNAUTHORIZED ERROR PAGE -->
  <unauthorized></unauthorized>
}
