<!-- FORM -->
<form id="form" [formGroup]="airportForm" (ngSubmit)="submitAirportForm()">
  <!-- TITLE -->
  <mat-label class="form-title">{{ airportFormTitle }}</mat-label>

  <!-- IATA FIELD -->
  <mat-form-field>
    <mat-label id="iataInputLabel">{{ iataInputLabel }}</mat-label>
    <input
      matInput
      aria-labelledby="iataInputLabel"
      [formControlName]="this.iataFieldIdentifier"
      minlength="3"
      maxlength="3"
    />
    <mat-error>{{ displayIATAErrorMessage() }}</mat-error>
  </mat-form-field>

  <!-- NAME FIELD -->
  <mat-form-field>
    <mat-label id="nameInputLabel">{{ nameInputLabel }}</mat-label>
    <input
      matInput
      aria-labelledby="nameInputLabel"
      [formControlName]="this.nameFieldIdentifier"
    />
    <mat-error>{{ displayNameErrorMessage() }}</mat-error>
  </mat-form-field>

  <!-- CITY FIELD -->
  <mat-form-field>
    <mat-label id="cityInputLabel">{{ cityInputLabel }}</mat-label>
    <input
      matInput
      aria-labelledby="cityInputLabel"
      [formControlName]="this.cityFieldIdentifier"
    />
  </mat-form-field>

  <!-- LATITUDE FIELD -->
  <mat-form-field>
    <mat-label id="latitudeInputLabel">{{ latitudeInputLabel }}</mat-label>
    <input
      matInput
      aria-labelledby="latitudeInputLabel"
      [formControlName]="this.latitudeFieldIdentifier"
    />
    <mat-error>{{ displayLatitudeErrorMessage() }}</mat-error>
  </mat-form-field>

  <!-- LONGITUDE FIELD -->
  <mat-form-field>
    <mat-label id="longitudeInputLabel">{{ longitudeInputLabel }}</mat-label>
    <input
      matInput
      aria-labelledby="longitudeInputLabel"
      [formControlName]="this.longitudeFieldIdentifier"
    />
    <mat-error>{{ displayLongitudeErrorMessage() }}</mat-error>
  </mat-form-field>

  <!-- COUNTRY FIELD -->
  <mat-form-field>
    <mat-label id="countryInputLabel">{{ countryInputLabel }}</mat-label>
    <div class="country-field-container">
      @if (this.countryFlag && this.countryFlag !== '') {
        <span class="flag fi fi-{{ this.countryFlag }}"></span>
      }
      <input
        matInput
        aria-labelledby="countryInputLabel"
        [formControlName]="this.countryFieldIdentifier"
        [matAutocomplete]="autoCountry"
      />
      <mat-autocomplete
        #autoCountry="matAutocomplete"
        [displayWith]="displayCountry"
        (optionSelected)="changeCountry($event.option.value)"
      >
        @for (country of filteredCountries | async; track country) {
          <mat-option [value]="country">
            <span class="flag fi fi-{{ country.flagCode }}"></span>
            {{ country.name }}
          </mat-option>
        }
      </mat-autocomplete>
    </div>
    <mat-error>{{ displayCountryErrorMessage() }}</mat-error>
  </mat-form-field>

  <!-- REGION FIELD -->
  @if (regions.length > 0) {
    <mat-form-field>
      <mat-label id="regionInputLabel">{{ regionInputLabel }}</mat-label>
      <input
        matInput
        aria-labelledby="regionInputLabel"
        [formControlName]="this.regionFieldIdentifier"
        [matAutocomplete]="autoRegion"
      />
      <mat-autocomplete
        #autoRegion="matAutocomplete"
        [displayWith]="displayRegion"
        (optionSelected)="changeRegion($event.option.value)"
      >
        @for (region of filteredRegions | async; track region) {
          <mat-option [value]="region">
            {{ region.name }} ({{ region.code }})
          </mat-option>
        }
      </mat-autocomplete>
      <mat-error>{{ displayRegionErrorMessage() }}</mat-error>
    </mat-form-field>
  }

  <!-- BUTTONS -->
  <div class="form-buttons">
    <button
      type="button"
      class="back-button"
      mat-fab
      extended
      routerLink="../list"
    >
      <i class="material-icons">{{ backButtonIcon }}</i>
      {{ backButtonLabel }}
    </button>
    <button
      type="submit"
      class="submit-form-button"
      mat-fab
      extended
      [disabled]="airportForm.invalid"
    >
      <i class="material-icons">{{ submitButtonIcon }}</i>
      {{ submitButtonLabel }}
    </button>
    <button
      type="button"
      class="reset-form-button"
      mat-fab
      extended
      (click)="ngOnInit()"
    >
      <i class="material-icons">{{ resetButtonIcon }}</i>
      {{ resetButtonLabel }}
    </button>
  </div>
</form>
