/* Columns */
.mat-column-profile,
.mat-column-givenName,
.mat-column-surname,
.column-login,
.mat-column-passwordReset,
.mat-column-actions {
  text-align: center;
  padding: 3px;
}
.mat-column-profile,
.mat-column-givenName,
.mat-column-surname,
.mat-column-login,
.mat-column-passwordReset {
  border-right: 2px solid var(--app-red);
  padding-left: 8px;
  padding-right: 8px;
}

/* Password expired warning */
#password-expired-warning {
  display: flex;
  gap: 10px;
}
#password-expired-warning > i {
  color: var(--orange);
}
