/* Import form container */
#import-form-container {
  display: grid;
  align-items: center;
  margin-bottom: 10px;
}
#import-form-container > button {
  margin-bottom: 20px;
}

/* File template */
#file-template {
  text-decoration: none;
  color: var(--app-white);
}

/* Import file chooser */
#fileChooser {
  display: none;
}

/* Import file name */
.import-file-name {
  font-weight: bold;
  font-size: 16px;
}