<!-- HEADER TOOLBAR -->
<mat-toolbar>
  <!-- MENU BUTTON -->
  <button mat-button (click)="menuToggle()">
    @if (menuOpened) {
      <i class="material-icons">keyboard_arrow_left</i>
    } @else {
      <i class="material-icons">menu</i>
    }
  </button>

  <!-- AUTHENTICATED USER BAR -->
  @if (authenticatedUser) {
    <div id="authenticated-user-container">
      <i id="authenticated-user-icon" class="material-icons">account_circle</i>
      <span>
        {{ authenticatedUser.givenName }} {{ authenticatedUser.surname }}
      </span>
      <button mat-button (click)="logout()">
        <i id="authenticated-user-logout-button" class="material-icons">
          logout
        </i>
      </button>
    </div>
  }
</mat-toolbar>
<!-- MENU CONTENT -->
<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="menuOpened">
    <!-- AIRLINE SUBMENU -->
    @if (authenticatedUser && authenticatedUser.profile === 1) {
      <button mat-button (click)="airlineSubMenuToggle()" class="menu-button">
        @if (airlineSubMenuExpanded) {
          <i class="material-icons">expand_more</i>
        } @else {
          <i class="material-icons">chevron_right</i>
        }
        <i class="material-icons">domain</i>
        <span>Compagnie</span>
      </button>
      @if (airlineSubMenuExpanded) {
        <!-- AIRLINE EDITING FORM BUTTON -->
        <button
          mat-icon-button
          class="submenu-button"
          routerLink="airline/edit"
        >
          <i class="material-icons">edit</i>
          <span>Modifier</span>
        </button>
      }
    }
    <!-- USER SUBMENU -->
    @if (authenticatedUser && authenticatedUser.profile === 1) {
      <button mat-button (click)="userSubMenuToggle()" class="menu-button">
        @if (userSubMenuExpanded) {
          <i class="material-icons">expand_more</i>
        } @else {
          <i class="material-icons">chevron_right</i>
        }
        <i class="material-icons">person</i>
        <span>Utilisateur</span>
      </button>
      @if (userSubMenuExpanded) {
        <!-- USER ADDING FORM BUTTON -->
        <button mat-icon-button class="submenu-button" routerLink="users/add">
          <i class="material-icons">add</i>
          <span>Ajouter</span>
        </button>
        <!-- USERS LIST BUTTON -->
        <button mat-icon-button class="submenu-button" routerLink="users/list">
          <i class="material-icons">list</i>
          <span>Liste</span>
        </button>
      }
    }
    <!-- HUB SUBMENU -->
    @if (authenticatedUser) {
      <button mat-button (click)="hubSubMenuToggle()" class="menu-button">
        @if (hubSubMenuExpanded) {
          <i class="material-icons">expand_more</i>
        } @else {
          <i class="material-icons">chevron_right</i>
        }
        <i class="material-icons">share</i>
        <span>Hub</span>
      </button>
      @if (hubSubMenuExpanded) {
        @if (authenticatedUser.profile < 3) {
          <!-- HUB ADDING FORM BUTTON -->
          <button mat-icon-button class="submenu-button" routerLink="hubs/add">
            <i class="material-icons">add</i>
            <span>Ajouter</span>
          </button>
        }
        <!-- HUBS LIST BUTTON -->
        <button mat-icon-button class="submenu-button" routerLink="hubs/list">
          <i class="material-icons">list</i>
          <span>Liste</span>
        </button>
      }
    }
    <!-- DESTINATION SUBMENU -->
    @if (authenticatedUser) {
      <button
        mat-button
        (click)="destinationSubMenuToggle()"
        class="menu-button"
      >
        @if (destinationSubMenuExpanded) {
          <i class="material-icons">expand_more</i>
        } @else {
          <i class="material-icons">chevron_right</i>
        }
        <i class="material-icons">location_on</i>
        <span>Destination</span>
      </button>
      @if (destinationSubMenuExpanded) {
        @if (authenticatedUser.profile < 3) {
          <!-- DESTINATION ADDING FORM BUTTON -->
          <button
            mat-icon-button
            class="submenu-button"
            routerLink="destinations/add"
          >
            <i class="material-icons">add</i>
            <span>Ajouter</span>
          </button>
        }
        <!-- DESTINATIONS LIST BUTTON -->
        <button
          mat-icon-button
          class="submenu-button"
          routerLink="destinations/list"
        >
          <i class="material-icons">list</i>
          <span>Liste</span>
        </button>
      }
    }
    <!-- ROUTE SUBMENU -->
    @if (authenticatedUser) {
      <button
        mat-button
        (click)="routeSubMenuToggle()"
        class="menu-button"
      >
        @if (routeSubMenuExpanded) {
          <i class="material-icons">expand_more</i>
        } @else {
          <i class="material-icons">chevron_right</i>
        }
        <i class="material-icons">arrow_range</i>
        <span>Ligne</span>
      </button>
      @if (routeSubMenuExpanded) {
        @if (authenticatedUser.profile < 3) {
          <!-- ROUTE ADDING FORM BUTTON -->
          <button
            mat-icon-button
            class="submenu-button"
            routerLink="routes/add"
          >
            <i class="material-icons">add</i>
            <span>Ajouter</span>
          </button>
        }
        <!-- ROUTES LIST BUTTON -->
        <button
          mat-icon-button
          class="submenu-button"
          routerLink="routes/list"
        >
          <i class="material-icons">list</i>
          <span>Liste</span>
        </button>

        <!-- ROUTES NETWORK BUTTON -->
        <button
          mat-icon-button
          class="submenu-button"
          routerLink="routes/network"
        >
          <i class="material-icons">map</i>
          <span>Réseau</span>
        </button>
      }
    }
    <!-- ABOUT SUBMENU -->
    <button mat-button (click)="openAboutDialog()" class="menu-button">
      <i class="material-icons">info</i>
      <span>À propos</span>
    </button>
  </mat-sidenav>
  <!-- PAGE CONTENT -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
