<!-- HEADER TOOLBAR -->
<mat-toolbar>
  <!-- MENU BUTTON -->
  <button mat-button (click)="menuToggle(false)">
    @if (menuOpened) {
      <i class="material-icons">keyboard_arrow_left</i>
    } @else {
      <i class="material-icons">menu</i>
    }
  </button>

  <!-- AUTHENTICATED USER BAR -->
  @if (authenticatedUser) {
    <div id="authenticated-user-container">
      <i id="authenticated-user-icon" class="material-icons">account_circle</i>
      <span>
        {{ authenticatedUser.givenName }} {{ authenticatedUser.surname }}
      </span>
      <button mat-button (click)="logout()">
        <i id="authenticated-user-logout-button" class="material-icons">
          logout
        </i>
      </button>
    </div>
  }
</mat-toolbar>
<!-- MENU CONTENT -->
<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="menuOpened">
    <!-- AIRLINE SUBMENU -->
    @if (authenticatedUser && authenticatedUser.profile === 1) {
      <button mat-button (click)="airlineSubMenuToggle()" class="menu-button">
        @if (airlineSubMenuExpanded) {
          <i class="material-icons">expand_more</i>
        } @else {
          <i class="material-icons">chevron_right</i>
        }
        <i class="material-icons">domain</i>
        <span>Compagnie</span>
      </button>
      @if (airlineSubMenuExpanded) {
        <!-- AIRLINE EDITING FORM BUTTON -->
        <button
          mat-icon-button
          (click)="menuToggle(true)"
          routerLink="airline/edit"
          class="submenu-button"
        >
          <i class="material-icons">edit</i>
          <span>Modifier</span>
        </button>
      }
    }
    <!-- USER SUBMENU -->
    @if (authenticatedUser && authenticatedUser.profile === 1) {
      <button
        mat-button
        (click)="menuToggle(true)"
        routerLink="users/list"
        class="menu-button"
      >
        <i class="material-icons">person</i>
        <span>Utilisateur</span>
      </button>
    }
    <!-- HUB SUBMENU -->
    @if (authenticatedUser) {
      <button
        mat-button
        (click)="menuToggle(true)"
        routerLink="hubs/list"
        class="menu-button"
      >
        <i class="material-icons">share</i>
        <span>Hub</span>
      </button>
    }
    <!-- DESTINATION SUBMENU -->
    @if (authenticatedUser) {
      <button
        mat-button
        (click)="menuToggle(true)"
        routerLink="destinations/list"
        class="menu-button"
      >
        <i class="material-icons">location_on</i>
        <span>Destination</span>
      </button>
    }
    <!-- ROUTE SUBMENU -->
    @if (authenticatedUser) {
      <button mat-button (click)="routeSubMenuToggle()" class="menu-button">
        @if (routeSubMenuExpanded) {
          <i class="material-icons">expand_more</i>
        } @else {
          <i class="material-icons">chevron_right</i>
        }
        <i class="material-icons">arrow_range</i>
        <span>Ligne</span>
      </button>
      @if (routeSubMenuExpanded) {
        <!-- ROUTES LIST BUTTON -->
        <button
          mat-icon-button
          (click)="menuToggle(true)"
          routerLink="routes/list"
          class="submenu-button"
        >
          <i class="material-icons">list</i>
          <span>Liste</span>
        </button>

        <!-- ROUTES NETWORK BUTTON -->
        <button
          mat-icon-button
          routerLink="routes/network"
          class="submenu-button"
        >
          <i class="material-icons">map</i>
          <span>Réseau</span>
        </button>
      }
    }
    <!-- AIRCRAFT SUBMENU -->
    @if (authenticatedUser) {
      <button
        mat-button
        (click)="menuToggle(true)"
        routerLink="aircrafts/add"
        class="menu-button"
      >
        <i class="material-icons">travel</i>
        <span>Avion</span>
      </button>
    }
    <!-- ABOUT SUBMENU -->
    <button mat-button (click)="openAboutDialog()" class="menu-button">
      <i class="material-icons">info</i>
      <span>À propos</span>
    </button>
  </mat-sidenav>
  <!-- PAGE CONTENT -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
