/* Form */
form > *:not(.form-buttons) {
  display: block;
}

/* Title */
.form-title {
  font-family: var(--app-font), sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

/* Fields */
mat-form-field {
  margin-bottom: 20px;
}
mat-form-field .error-hint {
  color: var(--app-red);
}

/* Buttons */
.form-buttons {
  display: flex;
  column-gap: 50px;
  margin-top: 10px;
}

.submit-form-button,
.reset-form-button {
  font-weight: bold;
}
.submit-form-button {
  background-color: var(--app-blue);
}
.reset-form-button {
  background-color: var(--app-black);
}
