/* Title */
.list-title {
  font-family: var(--app-font), sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

/* Links */
a {
  font-weight: bold;
  color: var(--app-blue);
}

/* Actions buttons */
td .mat-mdc-icon-button.mat-mdc-button-base {
  padding: 0;
  color: var(--app-blue);
}

/* Paginator */
.mat-mdc-paginator-range-actions
.mat-mdc-icon-button
.mat-mdc-button-touch-target {
  display: none;
}
