@if (!authenticatedUser) {
  <!-- UNAUTHORIZED ERROR PAGE -->
  <unauthorized></unauthorized>
} @else if (authenticatedUser.profile !== 1) {
  <!-- FORBIDDEN ERROR PAGE -->
  <forbidden></forbidden>
} @else {
  @if (initUserToEdit.uuid !== authenticatedUser.uuid) {
    <!-- USER FORM (EDIT MODE) -->
    <user-form
      (submitted)="editUser($event)"
      [formMode]="formMode"
      [user]="initUserToEdit"
    ></user-form>
  } @else {
    <!-- AUTHENTICATED USER UNEDITABLE ERROR PAGE -->
    <authenticated-user-uneditable></authenticated-user-uneditable>
  }
}
