/* Dialog body */
h2,
.mat-mdc-dialog-content {
  text-align: center;
}
.mat-mdc-dialog-content {
  max-height: 700px;
}

/* Dialog buttons */
#okButton {
  background-color: var(--app-blue);
  font-weight: bold;
}

#cancelButton {
  background-color: var(--app-black);
  font-weight: bold;
}
