/* Dialog body */
h2,
.mat-mdc-dialog-content {
  text-align: center;
}
.mat-mdc-dialog-content {
  max-height: 750px;
}

/* Dialog buttons */
#ok-button {
  background-color: var(--app-blue);
  font-weight: bold;
}
#ok-button:disabled {
  background-color: var(--app-grey);
}

#cancel-button {
  background-color: var(--app-black);
  font-weight: bold;
}
