@if (authenticatedUser) {
  @if (authenticatedUser.profile === 1) {
    @if (initUserToResetPassword) {
      @if (initUserToResetPassword.uuid !== authenticatedUser.uuid) {
        <!-- FORM -->
        <form
          [formGroup]="resetUserPasswordForm"
          (ngSubmit)="submitResetUserPasswordForm()"
        >
          <!-- TITLE -->
          <mat-label
            class="form-title"
            [innerHTML]="resetUserPasswordFormTitle"
          ></mat-label>

          <!-- GIVEN NAME FIELD -->
          <mat-form-field floatLabel="always">
            <mat-label id="givenNameInputLabel">
              {{ givenNameInputLabel }}
            </mat-label>
            <input
              matInput
              aria-labelledby="givenNameInputLabel"
              [formControlName]="givenNameFieldIdentifier"
            />
          </mat-form-field>

          <!-- SURNAME FIELD -->
          <mat-form-field floatLabel="always">
            <mat-label id="surnameInputLabel">
              {{ surnameInputLabel }}
            </mat-label>
            <input
              matInput
              aria-labelledby="surnameInputLabel"
              [formControlName]="surnameFieldIdentifier"
            />
          </mat-form-field>

          <!-- PASSWORD FIELD -->
          <mat-form-field floatLabel="always">
            <mat-label id="passwordInputLabel">
              {{ passwordInputLabel }}
            </mat-label>
            <input
              matInput
              aria-labelledby="passwordInputLabel"
              [formControlName]="pass_wordFieldIdentifier"
              [type]="showPassword ? 'text' : 'password'"
            />

            <!-- PASSWORD SHOWING TOGGLE -->
            <button
              type="button"
              class="input-button"
              (click)="showPasswordToggle()"
              mat-icon-button
              matSuffix
            >
              <i
                class="material-icons"
                [style]="
                  isPasswordFieldInvalid()
                    ? 'color: var(--app-red)'
                    : 'color: var(--app-blue)'
                "
              >
                {{ showPassword ? "visibility_off" : "visibility" }}
              </i>
            </button>
            <mat-error>{{ displayPasswordErrorMessage() }}</mat-error>
          </mat-form-field>

          @if (resetUserPasswordForm.get(pass_wordFieldIdentifier)?.valid) {
            <!-- REPEATED PASSWORD FIELD -->
            <mat-form-field floatLabel="always">
              <mat-label id="repeatedPasswordInputLabel">
                {{ repeatedPasswordInputLabel }}
              </mat-label>
              <input
                matInput
                aria-labelledby="repeatedPasswordInputLabel"
                [formControlName]="repeatedPass_wordFieldIdentifier"
                [type]="showRepeatedPassword ? 'text' : 'password'"
                [style]="
                  isRepeatedPasswordFieldInvalid()
                    ? 'color: var(--app-red)'
                    : 'color: var(--app-blue)'
                "
              />

              <!-- REPEATED PASSWORD SHOWING TOGGLE -->
              <button
                type="button"
                class="input-button"
                (click)="showRepeatedPasswordToggle()"
                mat-icon-button
                matSuffix
              >
                <i
                  class="material-icons"
                  [style]="
                    isRepeatedPasswordFieldInvalid()
                      ? 'color: var(--app-red)'
                      : 'color: var(--app-blue)'
                  "
                >
                  {{ showRepeatedPassword ? "visibility_off" : "visibility" }}
                </i>
              </button>

              <mat-error>{{
                displayRepeatedPasswordErrorMessage("required")
              }}</mat-error>
              @if (
                isRepeatedPasswordFieldInvalid() &&
                resetUserPasswordForm.hasError("notIdenticalPassword")
              ) {
                <mat-hint class="error-hint">{{
                  displayRepeatedPasswordErrorMessage("notIdenticalPassword")
                }}</mat-hint>
              }
            </mat-form-field>
          }

          <!-- BUTTONS -->
          <div class="form-buttons">
            <button
              type="submit"
              class="submit-form-button"
              mat-fab
              extended
              [disabled]="resetUserPasswordForm.invalid"
            >
              <i class="material-icons">replay</i>
              {{ submitButtonLabel }}
            </button>
            <button
              [type]="resetButtonType"
              class="reset-form-button"
              mat-fab
              extended
              (click)="ngOnInit()"
            >
              <i class="material-icons">{{ resetButtonIcon }}</i>
              {{ resetButtonLabel }}
            </button>
          </div>
        </form>
      } @else {
        <!-- AUTHENTICATED USER UNEDITABLE ERROR PAGE -->
        <authenticated-user-uneditable></authenticated-user-uneditable>
      }
    }
  } @else {
    <!-- FORBIDDEN ERROR PAGE -->
    <forbidden></forbidden>
  }
} @else {
  <!-- UNAUTHORIZED ERROR PAGE -->
  <unauthorized></unauthorized>
}
